
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}


#logo {

	width:  200px;
	height: 200px;
	float: left;
	margin-top: 0;
}

#logo-mini{

    width:  100px;
	height: 100px;
	float: left;

}

#rodape{

	background-color: #337AB7;
	color: white;
	font-weight: bold;
}

/*.panel-group{

	margin-left: 15px;
}
*/
.banner {
	
    height: 250px;
    width: 948px;
    background-color: #347aba;
    background-image: url("../imagens/jesien-gory-galezie-pagorek-drzewo.jpg");
    background-repeat: no-repeat;
   	float: left;
   	margin-left: -15px;


}

#myCarousel {

	float: left;
	margin-left: -15px;
	width: 948px;

}

#myCarousel img {
	margin: auto;
	 height: 600px;
	 width:948px;

}

.prog img {

	border-width: 1px;
	border-style: solid;
	
	align-items: center;

}

.texto {
	

	text-align: justify; 
	

	
}

.texto img {

	width: 100px;
	height: 100px;

}
#dojo13  {

height: 300px;
width: 300px;
object-fit: 250px;
border-radius: 30px;

}

.ifoto{
	
	float: left;
	width: 300px;
}
.ifoto img{

	margin-top: 10px;
	height: 300px;
	width: 180px;

}
.idesc{

	float: left;
	width: 400px;
	margin-top: 30px;
}

.icaixa{
	width: 100%;
	
	
}

#menu {


}

.hri{

	width: 100%;
	float: left;
}

.imgdown{
float: left;
/*background-color: red;*/
width: 100px;

}


.desc{
float: left;
/*background-color: green;*/
width: 600px;
margin-left: 10px;
}

.dowarq{
float: left;
/*background-color: gray;*/
margin-top: 10px;
margin-right: 700px;
width: 100%

}

.titulossec {

	font-size: 25px;
	font-weight: bold;
}

#dojoufms {

height: 300px;
width: 300px;
object-fit: 250px;
border-radius: 30px;


}

#seminario {

	float: left;
	width: 200px;
	height: 300px;
	padding-right: 10px;
	border-radius: 10px;
}

.subtitulo {

	font-size: 8px;
	font-style: italic; 
	margin-top:0;
}

