
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
}

#logo {

	width:  200px;
	height: 200px;
	float: left;
	margin-top: 0;
}

#logo-mini{

    width:  100px;
	height: 100px;
	float: left;

}

#rodape{

	background-color: #337AB7;
	color: white;
	font-weight: bold;
}

/*.panel-group{

	margin-left: 15px;
}
*/
.banner {
	
    height: 250px;
    width: 948px;
    background-color: #347aba;
    /*background-image: url("../imagens/jesien-gory-galezie-pagorek-drzewo.jpg");*/
    background-image: url("../imagens/topo.jpg");
    background-position: center;
	background-size: cover;
   	float: left;
   	margin-left: -15px;


}

#img-tab1 {

	margin: 0 auto;
	width: 300px;
	height: auto;
}

#img-tab3 {

margin-left: 350px;

height: 300px;

}

.duas-colunas {
-webkit-column-count: 2; /* Chrome, Safari, Opera */
-moz-column-count: 2; /* Firefox */
column-count: 2;
-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
-moz-column-gap: 40px; /* Firefox */
 column-gap: 40px;
-webkit-column-rule: 1px solid #cccccc; /* Chrome, Safari, Opera */
-moz-column-rule: 1px solid #cccccc; /* Firefox */
column-rule: 1px solid #cccccc;
 -webkit-column-span: all; /* Chrome, Safari, Opera */
 column-span: all;
-webkit-column-width: ;/* Chrome, Safari, Opera */
-moz-column-width: ;/* Firefox */
column-width: ;
margin: 30px;
}

#myCarousel {

	float: left;
	margin-left: -15px;
	width: 948px;

}

#myCarousel img {
	margin: auto;
	 height: 600px;
	width:948px;

}

.prog img {

	border-width: 1px;
	border-style: solid;
	
	align-items: center;

}

.texto {
	

	text-align: justify; 
	margin: 30px;

}

.texto li {

	padding: 20px;
	font-weight: bold;
}

.texto img {

	width: 100px;
	height: 100px;

}
#dojo13  {

height: 300px;
width: 300px;
object-fit: 250px;
border-radius: 30px;

}

.ifoto{
	
	float: left;
	width: 305px;
	border-radius: 80px;
	

}
.legenda-video p{
margin-left: 350px;
margin-top: 10px;
}


.ifoto img{
	
	margin-left: 40px;
	margin-top: 20px;
	height: 358px;
	width: 180px;

}
#dojo-interior {

	width: 800px;
	height: 400px;
	margin-left: 60px;
}

.ul-dojo li {

	padding: 10px;
}

#prog{

	margin: 0 auto;
}

#arni{
	margin-left: -20px;
	margin-top: 0;
	width: 300px; 
	height:450px;

}


#semi-dani {

	
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}

.idesc{

	float: left;
	width: 550px;
	margin-top: -10px;
	padding: 10px;
	text-align: justify;
}

.icaixa{
	
	width: 100%;
	
	
}

.icaixa pre{


}

#menu a{

text-decoration: none;

}

video {

	max-width: 600px;
	margin: 0 auto;
}

.hri{

	width: 100%;
	float: left;
}

.imgdown{
float: left;
/*background-color: red;*/
width: 100px;

}


.desc{
float: left;
/*background-color: green;*/
width: 600px;
margin-left: 10px;
}

.dowarq{
float: left;
/*background-color: gray;*/
margin-top: 10px;
margin-right: 700px;
width: 100%

}

.titulossec {

	font-size: 25px;
	font-weight: bold;
}

#dojoufms {

height: 300px;
width: 300px;
object-fit: 250px;
border-radius: 30px;


}

#seminario {

	float: left;
	width: 200px;
	height: 300px;
	padding-right: 10px;
	border-radius: 10px;
}

.subtitulo {

	font-size: 8px;
	font-style: italic; 
	margin-top:0;
}

@media only screen and (min-width:200px) and (max-width:550px) {

	#myCarousel , .banner{
		display: none;
	}
	
  .panel-group {
  	margin-top: 10px;

  }

.w3-bar {
	position: unset;

}

.w3-hide-large{
	margin-top: 0px;
}

	 }
