body {

	margin: 0;
	padding: 0;
}

#menu {
	position: fixed;
	
	width: 200px;
}


#myCarousel {

	float: left;
	margin-left: 200px;
	width: 900px;

}

#myCarousel img {
	 height: 600px;
	 width: 900px;


}

.banner {
	margin-left: 200px;
    height: 250px;
    width: 900px;
    background-color: #347aba;
    background-image: url("../imagens/jesien-gory-galezie-pagorek-drzewo.jpg");
    background-repeat: no-repeat;
   	float: left;


}

.banner img {

	width: 200px;
   	height: 200px;
}

.panel-group {

	margin-left: 200px;
	float: left;
	width: 900px;


}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.prog img {

	border-width: 1px;
	border-style: solid;
	
	align-items: center;

}

.texto {
	

	text-align: justify; 
	font-family: Belgrano, serif;

	
}

.texto img {

	width: 100px;
	height: 100px;

}
#dojo13  {

height: 300px;
width: 300px;
object-fit: 250px;
border-radius: 30px;

}

.ifoto{
	
	float: left;
	width: 300px;
}
.ifoto img{

	margin-top: 10px;
	height: 300px;
	width: 180px;

}
.idesc{

	float: left;
	width: 400px;
	margin-top: 30px;
}

.icaixa{
	width: 100%;
	height: 1950px;
	
}



.hri{

	width: 100%;
	float: left;
}

.imgdown{
float: left;
/*background-color: red;*/
width: 100px;

}


.desc{
float: left;
/*background-color: green;*/
width: 600px;
margin-left: 10px;
}

.dowarq{
float: left;
/*background-color: gray;*/
margin-top: 10px;
margin-right: 700px;
width: 100%

}

.titulossec {

	font-size: 25px;
	font-weight: bold;
}

#dojoufms {

height: 300px;
width: 300px;
object-fit: 250px;
border-radius: 30px;


}

#seminario {

	float: left;
	width: 200px;
	height: 300px;
	padding-right: 10px;
	border-radius: 10px;
}

.subtitulo {

	font-size: 8px;
	font-style: italic; 
	margin-top:0;
}


.rodape  {
	float: left;
	background-color: #353535;
	height: 380px;
	text-align: center;
	color: #ffffff;
	width: 100%;
	margin-left: 200px;
	
	
}

.mapa {

float: left;
margin: 5px;



}


.info{

margin-left: 20px;

}

.info ul {

list-style: none;
text-align: left;
float: left;

}


.dvtopo{

	float: right;

}

.vtopo {

position: absolute;
margin-left: 50px;
margin-top: -50px;

}

.info img{

	float: left;
	padding-right: 10px;
}


.linha-vertical {
	float: left;
	margin-left: 10px;
    height: 360px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

.fim {

	float: left;
	height: 115px;
	width: 100%;
    margin-top: -30px;
	background-color: #353535;
}


/*
@media only screen and (min-width:600px) and (max-width:900px) {

	
	.limenu {
		visibility: hidden;
	}

	#menu {
		width: 40px;
		margin-right: 40px;

		
	}
	#myCarousel{
		margin-left: 0;
	}

	.banner {

	margin-left: 0;	
	}

	.banner img {

		margin-left: 15px;
	}

	.panel-group{
		margin-left: 0;	

	}

	.nav-pills > li.active > a{
     
		background-color: black;
}


	}*/